<div class="container content">
	<div>
		<form>
			<label for="startPoint">From:</label>
			<input class="form-control" type="text" placeholder="Enter start point" name="startPoint" [(ngModel)] = "trip.startPoint" >

			<label for="destination">To:</label>
			<input class="form-control" type="text" name="destination" placeholder="Enter destiantion" id="destination" [(ngModel)]="trip.destination" >

			<label for="Stops">Stops:</label>
			<input class="form-control" type="text" placeholder="Enter number of stops"  name="stops" id="stops" [(ngModel)]="trip.stops"  >

			<div class="go-btn">
				<button class="btn btn-primary" (click)="clicked(trip.startPoint,trip.destination,trip.stops)">Go</button>
			</div>
			<div *ngIf = "trip.stops && trip.startPoint && trip.destination" class="trip-table  table-bordered">
				<form>
					<table class="table table-stripped">
					<thead class="thead">
						<tr scope="row">
						<th>FROM</th><th>TO</th><th>Intermediate Stops</th>
					</tr>
					</thead>
					<tr *ngFor= " let stops of tripDetails; let i=index; let first = first; let last= last; trackBy:trackByFn">
						<td>
						
							<input type="text" class="form-control"  name="locationFrom-{{i}}" [(ngModel)]= "stops.startPoint"  (input)="syncData(i, 'sourceLocation')" >
						</td>
						<td>
								
							<input type="text" class="form-control"  name="locationTo-{{i}}" [(ngModel)]= "stops.destination"  (input)="syncData(i, 'destinationLocation')" >
						</td>
						<td>
							<button class="btn btn-primary" (click)="addStop(i)">+</button>
							<button class="btn btn-primary" (click)="removeStop(i)" >-</button>
						</td>
					</tr>
				</table>	
				</form>			
			</div>
		</form>
	</div>
</div>	